{% extends "basic.html" %}
{% import "content.html" as content %}

{%block seo%}
{%endblock%}

{% block content %}
{{content.article(page)}}
{%endblock%}


{% block art_footer%}
<nav aria-label="Page navigation">
<ul class="pagination">
    <li>
        <a aria-label="Previous" href="#">
            <span aria-hidden="true">«</span>
        </a>
    </li>

    {% for num in pagenum %}
    {%if page_class == 2%}
    <li><a href="{{num|set_url(2)}}">{{num}}</a></li>
    {%elif page_class == 3%}
    <li><a href="{{ num|set_url(3)}}">{{num}}</a></li>
    {%else %}
    <li><a href="{{num|set_url(1)}}">{{num}}</a></li>
    {% endif %}
    {% endfor %}

    <li>
        <a aria-label="Next" href="#">
            <span aria-hidden="true">»</span>
        </a>
    </li>
</ul>
</nav>
{% endblock art_footer%}