{% extends "basic.html" %}
{% import "content.html" as content %}

{%block seo%}
{%endblock%}

{% block content %}
{{content.article(page)}}
{%endblock%}


{% block art_footer%}
<nav aria-label="Page navigation">
    <ul class="pagination">
        <li>
            <a aria-label="Previous" href="#">
                <span aria-hidden="true">«</span>
            </a>
        </li>

        {% for num in pagenum %}

        {%if page_class == 2%}
        {% if current_page==num %}
        <li class="active"><a href="{{num|set_url(2)}}">{{num}}</a></li>
        {% else %}
        <li><a href="{{num|set_url(2)}}">{{num}}</a></li>
        {% endif %}
        {% else %}
        {% if current_page==num %}
        <li class="active"><a href="{{ split_page_url[pagenum.index(num)]|set_url(page_class)}}">{{num}}</a></li>
        {% else %}
        <li><a href="{{ split_page_url[pagenum.index(num)]|set_url(page_class)}}">{{num}}</a></li>
        {% endif %}

        {% endif %}
        {% endfor %}

        <li>
            <a aria-label="Next" href="#">
                <span aria-hidden="true">»</span>
            </a>
        </li>
    </ul>
</nav>
{% endblock art_footer%}