{% macro article(object,flow=0) %}
    {% for item in object.items %}
                <article class="post" id="">
                    <div class="post-head">
                        <h1 class="post-title"><a href="{{item.url|set_url(0)}}">{{item.title}}</a></h1>
                        <div class="post-meta">
                            <span class="author">作者：<a href="#">铁脑壳</a></span> •
                            {% if object.edit %}
                            <a href="/admin/edit?id={{item.url}}"> 编辑 </a>
                            {% endif %}
                            <time class="post-date" datetime="{{item.publish|timestamp(True)}}" title="{{item.publish|timestamp(True)}}">
                                {{item.publish|timestamp}}
                            </time>
                        </div>
                    </div>
                        {% if flow ==0 %}
                    {% if item.image_url %}
                    <div class="featured-media">
                        <a href="{{item.url|set_url(0)}}"><img alt="item.image_alt" src="{{item.image_url}}" style="height: 254px;" /></a>
                    </div>
                    {% else %}
                    <div class="featured-media">
                        <a href="{{item.url|set_url(0)}}"><img alt="重庆seo_febrain" src="{{url_for('static',filename='image/default.png')}}"/></a>
                    </div>
                    {% endif %}
                    {% endif %}
                    <div class="post-content">
                        {% if flow==1 %}
                        {% autoescape false %}
                        <p>{{item.content}}</p>
                        {% endautoescape %}
                        {% else %}
                        <p>{{item.content[:100]|clean_tag()}}</p>
                        {% endif %}
                    </div>
                    {% if flow==0 %}
                    <div class="post-permalink">
                        <a class="btn btn-default" href="{{item.url|set_url(0)}}">阅读全文</a>
                    </div>
                    {% endif %}
                    <footer class="post-footer clearfix">
                        <div class="pull-left tag-list">
                            <i class="fa fa-folder-open-o"></i>
                            {% for tag in item.tags%}
                            <a href="{{tag|set_url(1)}}">{{tag}}</a>
                            {% endfor %}
                        </div>
                        <div class="pull-right share">
                        </div>
                    </footer>
                </article>
                {% if flow==1 %}
                <div class="ds-thread" data-thread-key="{{item.url}}" data-title="{{item.title}}" data-url="{{item.url|set_url(0)}}"></div>
                <!-- 多说评论框 end -->
                <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
                <script type="text/javascript">
                var duoshuoQuery = {short_name:"febrain"};
                (function() {
                var ds = document.createElement('script');
                ds.type = 'text/javascript';ds.async = true;
                ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                ds.charset = 'UTF-8';
                (document.getElementsByTagName('head')[0]
                 || document.getElementsByTagName('body')[0]).appendChild(ds);
                })();
                </script>
                {% endif %}
    {% endfor%}
{% endmacro %}